<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <property name="PROJECT_NAME" value="demo_api" />
	<property name="LOG_HOME" value="/var/apps/lawson/logs/jarapps/${PROJECT_NAME}" />

    <appender name="APP_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${PROJECT_NAME}.log</File>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%thread] |-|%level |-|%d{yyyy-MM-dd'T'HH:mm:ss.SSS+08:00} |-|%logger{5}[%L] |-|%msg |-|%n
			</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/backup/${PROJECT_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="APP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${PROJECT_NAME}_error.log</File>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%thread] |-|%level |-|%d{yyyy-MM-dd'T'HH:mm:ss.SSS+08:00} |-|%logger{5}[%L] |-|%msg |-|%n
			</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/backup/${PROJECT_NAME}_error.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>[%thread] |-|%level |-|%d{yyyy-MM-dd'T'HH:mm:ss.SSS+08:00} |-|%logger{5}[%L] |-|%msg |-|%n
			</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="APP_INFO" />
		<appender-ref ref="APP_ERROR" />
	</root>

</configuration>
